*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
width: 100%;
height: 100vh;
    background-image: url('assets/pexels-samkolder-2387869.jpg');
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: white;
    
}


h1{
  
  
  font-size: small;  
}

#demo{
    
    font-size:   large;

}
p{
    
}

div{
    background-color: aqua;
    padding: 5px 5px 5px 10px;
    margin-right: 410px;
    
}


.container1{
    margin: 200px 400px 300px 300px;
    background-color: #000000b0 ;
    width: 600px;
    height: 270px;
    padding: 17px 15px 5px 15px;
}

div i{
    
}
#ikonka {
    text-align: right;
    color: white;
}